* {
    padding: 25px;
    text-decoration: none;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title {
    font-size: 48px;
}

.features__paragraph {
    font-size: 38px;
}

.footer {
    background: grey;
}

.footer__title {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
    
}

